.site-header{
    background-color: #1bbc9b;
    color: #c0ded8;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.linkedin-link
{
    color: #c0ded8;
}
.resume-link
{
    color: #c0ded8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-pic{
    border-radius: 50%;
    box-shadow: #00231c 2px 5px 5px;
}

.site-header-content
{
    margin: 10px;
}

body
{
    margin: 0;
}
.navmain{
display: flex;
justify-content: center;
align-items: flex-start;
width: 100%;
height: 100vh;
}
.nav{
    width: 600px;
    height: 60px;
    background-color: #015242;
    border-radius: 8px;
    overflow: hidden;
}
.nav ol{
    display: flex;
    list-style: none;
    position: relative;
}
.nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
}
.animation{
    width: 0px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    transition: all 0.4s;
}
li:nth-child(1):hover ~ .animation{
    width: 150px;
}
li:nth-child(2):hover ~ .animation{
    width: 150px;
    left:150px;
}
li:nth-child(3):hover ~ .animation{
    width: 150px;
    left: 300px ;
}
li:nth-child(4):hover ~ .animation{
    width: 150px;
    left: 450px;
}




